<div class="content-container">
  <header class="dasboard">
    <h2 class="logo">Dashboard</h2>
    <nav>
      <ul class="links">
        <li><button class="btn-1" (click)="goToReservations()">Réservations</button></li>
        <li><button class="btn-1">Comptes Utilisateurs</button></li>
        <li><button class="btn-1">Planing de vols</button></li>
        <li><button class="btn-1">Statistique</button></li>
        <li><button class="btn">Log Out</button></li>
      </ul>
    </nav>
  </header>
</div>

