<div class="container">
  <h2>la liste des utilisateurs</h2>
  <table class="user-table">

    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id_user }}</td>
        <td>{{ user.nom }}</td>
        <td>{{ user.prenom }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button (click)="deleteUser(user.id_user)" mat-raised-button color="primary">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


