<body>
  <div class="container">
    <h2>Liste des réservations</h2>
    <table>
      <thead>
        <tr>
          <th>Départ</th>
          <th>Date de départ</th>
          <th>Arrivée</th>
          <th>Date d'arrivée</th>
          <th>Classe</th>
          <th>Prix ($)</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>France</td>
          <td>10/04/2025</td>
          <td>Bulgarie</td>
          <td> 13/04/2025</td>
          <td>Economique</td>
          <td>1200$</td>
          <td><span class="Status">Réserver</span></td>
          <td><button class="btn">Annulation</button></td>

        </tr>
        <tr>
          <td>France</td>
          <td>10/04/2025</td>
          <td>Bulgarie</td>
          <td> 13/04/2025</td>
          <td>Economique</td>
          <td>1200$</td>
          <td><span class="Status">Réserver</span></td>
          <td><button class="btn">Annulation</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
