<body>
  <div class="container">
    <div class="container-header">
        <h2>Airline Register</h2>
        <p>Inscrivez-vous pour profiter de nos meilleurs services.</p>
        <div class="from-group">
          <label for="username">Nom:</label>
          <input type="text" id="username" name="nom" required>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
          <label for="password">Mot de passe:</label>
          <input type="password" id="password" name="password" required>
          <label for="confirm-password">Confirmer le mot de passe:</label>
          <input type="password" id="confirm-password" name="confirm-password" required>
          <button id="confirmation">registration</button>
        </div>
    </div>
  </div>
</body>
