<body>
  <div class="container">
    <div class="sidebar">
      <h2>Administrator</h2>
      <ul>
        <li><p href class="btn" (click)="redirectToAdminDashboard()">Compagnies</p></li>
        <li><p href class="btn" (click)="redirectToUtilisateur()">Gestion de comptes</p></li>
        <li><p href class="btn">Rapports</p></li>
        <li><p href="/logout" class="btn">Se déconnecter</p></li>
      </ul>
    </div>
    <div class="main">
      <div class="card">
        <h3>Statistiques</h3>
        <div class="chart-container">
          <canvas id="statsChart"></canvas>
        </div>
      </div>
      <div class="card stats">
        <div class="stat">Reservations: 1,521</div>
        <div class="stat">Nombre de billets: 32,211</div>
        <div class="stat">Passager par vol: 122</div>
      </div>
    </div>
  </div>
</body>
