/* Style global */
*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-size: cover;
  background-position: center;
}

/* Barre de navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: rgb(255, 253, 248);
  box-shadow: 0 5px 5px rgba(163, 162, 162, 1.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100px;
  z-index: 1000;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  color: #241b1b;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px; /* Augmenter l'espace entre les éléments */
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li p {
  text-decoration: none;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  transition: color 0.3s;
}
nav ul li p {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li p:hover {
  color: #4f5ccc;
}

/* Bouton Connexion */
.login-btn {
  padding: 5px 7px;
  background-color: #505ccc;
  color: rgb(255, 254, 248);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.login-btn:hover {
  background-color: #434190;
}

/* Section principale */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://img.freepik.com/photos-gratuite/aile-avion-arriere-plan-ville_1232-1308.jpg');
  height: 99vh;
  padding-top: 50px;
  /* background-color: rgb(175, 158, 30); */

}

.hero-content h2 {
  font-size: 2.5rem;
  color: #333;
}

.hero-content p {
  font-size: 1.2rem;
  color: #555;
  margin: 10px 0;
}

/* Bouton principal */
.cta-btn {
  padding: 12px 20px;
  background-color: #5a67d8;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 15px;
}

.cta-btn:hover {
  background-color: #434190;
}
