<body>
  <header>
    <a href class="logo">AirLine</a>
    <nav class="nav-links">
      <ul class="links">
        <li><a href="#" class="nav-link">Decouvrir</a></li>
        <li><a href="#" class="nav-link">Reserver et gerer</a></li>
        <li><a href="#" class="nav-link">voyage</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <h2>Mes réservations</h2>
    <div class="reservation-box">
      <div>
        <h3 class="num-reservation">Vérifiez les détails de vos réservations</h3>
        <p>Accédez à vos informations en utilisant votre numéro de réservation
          et votre nom de famille.</p>
        <input type="text" placeholder="Numéro de réservation">
        <input type="text" placeholder="Nom">
        <button>Chercher réservation</button>
      </div>
      <div>
        <h3 class="inscritpition">Êtes-vous un titulaire de AirLine ?</h3>
        <button>Identifiez-moi</button>
        <p><a href="#">S'inscrire à AirLine</a></p>
      </div>
    </div>
  </div>
  <footer class="footer">
    <!-- Ajout de la classe 'footer' pour ajuster le footer -->
    <p>Informations et Vente de billets : +221 167 47 10</p>
    <p>Disponible sur Google Play & App Store</p>
  </footer>
</body>
