/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Styliser les liens de navigation */
.nav-link {
    color: #007BFF;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Ajuster le footer en bas de la page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    flex: 1;
}

.footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
